#banner {
	position:relative;
	background-image:linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),url('/kitty.jpg');
	background-color:'red';
	background-position:center;
	background-repeat:none;
	background-size:cover;
	height:100vh;
	color:white;
	font-family: 'Merriweather', serif;
	font-size:30px;
	margin-bottom:0;

}

#banner > .container-fluid {
	padding-left:5%;
}

#banner > .container-fluid > h1 {
	font-size:3em;
	
}

#banner > .container-fluid > p {
	font-size:1em;
	
}


.fall {
	animation-name:fall;
	animation-duration:2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

@keyframes fall {
	from{opacity: 0%; transform:translateY(-200%);}
	to{opacity: 100%; transform:translateY(0%);}
}


@media only screen and (max-width:992px) {
	#banner {
		font-size:25px;
	}
}

@media only screen and (max-width:768px) {
	#banner {
		font-size:20px;
	}
}

@media only screen and (max-width:576px) {
	#banner {
		font-size:15px;
	}
}
@media only screen and (max-width:333px) {
	#banner {
		font-size:12px;
	}
}


.book {
	background-color:transparent;
	color:white;
	padding:14px 16px;
	border-radius:12px;
	border:2px solid white;
	outline:none;
	transition:300ms all linear;
	opacity:0;

}

.book:hover {
	background-color:white;
	color:black;
	text-shadow:none;
}

.slide{
	position:relative;
	animation:slide 2s ease-out forwards;
	
}



@keyframes slide {
	from{opacity:0;transform:translateX(-100%);}
	to{opacity:1;transform:translateX(0);}
}